## Exercise on iris dataset

After the notebook with a lot of new input, let's start applying it totally by yourselves. 
For this purpose we will use one of the standard praxis datasets: It's called **Iris Dataset**, and is all about the plant iris. Let's learn a little bit more about the dataset by taking a closer look at it. 

<img src="https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Machine+Learning+R/iris-machinelearning.png" style="height:150px">

In [2]:
# import pandas
import pandas as pd

In [3]:
# load the data
iris = pd.read_csv('./data/iris.csv')

1. Let us first have a look at the head of the table, maybe also on the last 10 rows...

In [5]:
iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

2. How many irises are the data set?

In [11]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

3. Calculate the basic descriptive statistics for all columns of the iris data set using a single command.

In [12]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

4. Add the sum of the sepal width and length as a new column to your data frame.

In [13]:
iris['sum_sepal_width_length'] = iris['sepal_width'] + iris['sepal_length']
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sum_sepal_width_length
0,5.1,3.5,1.4,0.2,setosa,8.6
1,4.9,3.0,1.4,0.2,setosa,7.9
2,4.7,3.2,1.3,0.2,setosa,7.9
3,4.6,3.1,1.5,0.2,setosa,7.7
4,5.0,3.6,1.4,0.2,setosa,8.6
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7
146,6.3,2.5,5.0,1.9,virginica,8.8
147,6.5,3.0,5.2,2.0,virginica,9.5
148,6.2,3.4,5.4,2.3,virginica,9.6
149,5.9,3.0,5.1,1.8,virginica,8.9

5. Create a new column with a rough estimate of petal area by multiplying petal length and width together.

In [14]:
iris['estimate_petal_area'] = iris['petal_length'] * iris['petal_width']
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sum_sepal_width_length,estimate_petal_area
0,5.1,3.5,1.4,0.2,setosa,8.6,0.28
1,4.9,3.0,1.4,0.2,setosa,7.9,0.28
2,4.7,3.2,1.3,0.2,setosa,7.9,0.26
3,4.6,3.1,1.5,0.2,setosa,7.7,0.30
4,5.0,3.6,1.4,0.2,setosa,8.6,0.28
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7,11.96
146,6.3,2.5,5.0,1.9,virginica,8.8,9.50
147,6.5,3.0,5.2,2.0,virginica,9.5,10.40
148,6.2,3.4,5.4,2.3,virginica,9.6,12.42
149,5.9,3.0,5.1,1.8,virginica,8.9,9.18

6. Create a new dataframe with petal areas greater than $1cm^2$.

In [46]:
iris_big = iris[iris['estimate_petal_area'] > 1]
iris_big

,sepal_length,sepal_width,petal_length,petal_width,species,sum_sepal_width_length,estimate_petal_area
50,7.0,3.2,4.7,1.4,versicolor,10.2,6.58
51,6.4,3.2,4.5,1.5,versicolor,9.6,6.75
52,6.9,3.1,4.9,1.5,versicolor,10.0,7.35
53,5.5,2.3,4.0,1.3,versicolor,7.8,5.20
54,6.5,2.8,4.6,1.5,versicolor,9.3,6.90
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9.7,11.96
146,6.3,2.5,5.0,1.9,virginica,8.8,9.50
147,6.5,3.0,5.2,2.0,virginica,9.5,10.40
148,6.2,3.4,5.4,2.3,virginica,9.6,12.42
149,5.9,3.0,5.1,1.8,virginica,8.9,9.18

7. Using the original unfiltered dataframe, create 3 new dataframes, each containing only irises of each a single species 'Iris-setosa', 'Iris-versicolor' or 'Iris-virginica'.

In [27]:
iris_setosa = iris[iris['species'] == 'setosa']
iris_versicolor = iris[iris['species'] == 'versicolor']
iris_virginica= iris[iris['species'] == 'virginica']

## Bonus-Exercise on wine dataset

<img src='https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb' style="height:200px">

<center><a href='https://unsplash.com/@kymellis'>Kym Ellis on UNSPLASH</a></center>

Let's start off by following the general workflow that we use when moving data into a DataFrame: 

    * Importing Pandas
    * Reading data into the DataFrame
    * Getting a general sense of the data

So, in terms of what you should do for this part...

In [28]:
# read in the dataset
wine = pd.read_csv('./data/winequality-red.csv')

1. Select the first 10 rows of the `chlorides` column.

In [29]:
wine['chlorides'].head(10)

0    0.076
1    0.098
2    0.092
3    0.075
4    0.076
5    0.075
6    0.069
7    0.065
8    0.073
9    0.071
Name: chlorides, dtype: float64

2. Select the last 10 rows of the `chlorides` column.

In [30]:
wine['chlorides'].tail(10)

1589    0.073
1590    0.077
1591    0.089
1592    0.076
1593    0.068
1594    0.090
1595    0.062
1596    0.076
1597    0.075
1598    0.067
Name: chlorides, dtype: float64

3. Select columns `chlorides` and `density`.

In [32]:
wine[['chlorides','density']]

      chlorides  density
0         0.076  0.99780
1         0.098  0.99680
2         0.092  0.99700
3         0.075  0.99800
4         0.076  0.99780
...         ...      ...
1594      0.090  0.99490
1595      0.062  0.99512
1596      0.076  0.99574
1597      0.075  0.99547
1598      0.067  0.99549

[1599 rows x 2 columns]

4. Select all rows where the `chlorides` value is less than 0.10.

In [33]:
wine[wine['chlorides'] < 0.10]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

5. Now select all the rows where the `chlorides` value is greater than the column's mean
(try not to use a hard-coded value for the mean, but instead a method.)

In [38]:
wine[wine['chlorides'] > wine['chlorides'].mean()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1558,6.9,0.630,0.33,6.7,0.235,66.0,115.0,0.99787,3.22,0.56,9.5,5
1570,6.4,0.360,0.53,2.2,0.230,19.0,35.0,0.99340,3.37,0.93,12.4,6
1578,6.8,0.670,0.15,1.8,0.118,13.0,20.0,0.99540,3.42,0.67,11.3,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5

6. Select all those rows where the `pH` is greater than 3.0 and less than 3.5.

In [41]:
wine[(wine['pH'] > 3.0) & (wine['pH'] < 3.5)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.60,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1596,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1598,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

7. Further filter the results from 6 to grab only those rows that have a `residual sugar` less than 2.0.
Tip: Use backticks (``) to mask column names with spaces in query string.

In [43]:
wine[(wine['pH'] > 3.0) & (wine['pH'] < 3.5) & (wine['residual sugar'] < 2.0)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
10,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5
13,7.8,0.61,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1569,6.2,0.51,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1578,6.8,0.67,0.15,1.8,0.118,13.0,20.0,0.99540,3.42,0.67,11.3,6
1590,6.3,0.55,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1593,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6

#### BONUS
If you'd like some extra practice, try answering each of the questions in more than one way (because remember, we can often select data in a couple of different ways). Selecting is the same as displaying on the screen in this context.